.frame {
    width:800px;
    height:600px;
    border:1px solid #333333;
    position:relative;
}
.box {
    width:80px;
    height:80px;
    border:1px solid #000066;
    position:absolute;
}
.box:hover {
    background:#990000;
}
.box1 {
    left:200px;
    top:300px;
}
.box2 {
    left:600px;
    top:400px;
}
.box3 {
    left:100px;
    top:80px;
}
.box4 {
    left:200px;
    top:80px;
}
.message {
    font-size:600%;
    font-weight:bold;
    font-family:sans-serif;
}
